.rotate-90 {
    transform: rotate(90deg);
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    /* Light gray background */
    margin: 0;
    padding: 0;
}

.section {
    padding: 20px;
    margin-bottom: 10px;
    background-color: #e0e0e0;
    /* Alternate background color */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    align-items: center; /* Vertically center items */
}

.goback-button {
    position: absolute;
    top: 30px;
    right: 20px;
    padding: 15px 30px;
    background-color: #3498db;
    color: white;
    text-align: center;
    margin-left: 20px;
    text-decoration: none;
    border-radius: 15px;
}

.goback-button:hover {
    background-color: #2980b9;
}

.section-image {
    float: right;
    margin-left: 200px;
}   

.section:nth-child(even) {
    background-color: #d0d0d0;
    /* Alternate dark gray background color */
}

.section-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.subheading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.subheading2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.section timeline {
    max-width: 100%;
    display: block;
    margin: auto;
}

/* Add more styles as needed */
@mixin tablet-and-up {
    @media screen and (min-width: 769px) {
        @content;
    }
}

@mixin mobile-and-up {
    @media screen and (min-width: 601px) {
        @content;
    }
}

@mixin tablet-and-down {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mobile-only {
    @media screen and (max-width: 600px) {
        @content;
    }
}

ul,
li {
    list-style: none;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    background: linear-gradient(45deg, #209cff, #3498db);
    padding: 3rem 0;
}

.wrapper {
    background: #eaf6ff;
    padding: 2rem;
    border-radius: 15px;
}

h1 {
    font-size: 1.1rem;
    font-family: sans-serif;
}

.sessions {
    margin-top: 2rem;
    border-radius: 12px;
    position: relative;
}

#timeline li {
    padding-bottom: 1.5rem;
    border-left: 1px solid #3498db;
    position: relative;
    padding-left: 20px;
    margin-left: 10px;

    &:last-child {
        border: 0px;
        padding-bottom: 0;
    }

    &:before {
        content: '';
        width: 15px;
        height: 15px;
        background: white;
        border: 1px solid #3498db;
        box-shadow: 3px 3px 0px #3498db;
        box-shadow: 3px 3px 0px #3498db;
        border-radius: 50%;
        position: absolute;
        left: -10px;
        top: 0px;
    }
}

.time {
    color: #2a2839;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

    @include mobile-and-up {
        font-size: .9rem;
    }

    @include mobile-only {
        margin-bottom: .3rem;
        font-size: 0.85rem;
    }
}

p {
    color: #4f4f4f;
    font-family: sans-serif;
    line-height: 1.5;
    margin-top: 0.4rem;

    @include mobile-only {
        font-size: .9rem;
    }
}

#tools ul {
    display: block;
    margin: 0;
    padding: 0;
    max-width: 2000px
}

#tools li {
    display: inline-block;
    margin: 7px;
    padding: 5px 10px;
    border-radius: 5px;
    color: #2b2f3a;
    background: #e4e4ea;
    list-style: none;
    cursor: default;
    font-size: 1.1em
}